header .navbar{
	background-color: #F8EFBA;
	position: fixed;
	width: 100%;

}
header .navbar-nav ul{
	margin-right: 60%;

}
header .navbar navbar-brand{
	color: #6D214F;
	margin-left: : 60%;
}

#side-bar{
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(#114357, #302b63,#24243e);
    
}

#side-bar .logo{
    font-weight: bold;
    font-size: 21px;
    padding: 12px 15px;
    background: -webkit-linear-gradient(#2980B9, #FFFFFF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
}
#side-bar ul li a{
    background: transparent;
    padding: 7px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}
#side-bar ul li:hover{
    background:#aaa69d;
}
#side-bar ul li.dashboard{
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(#24243e, #4286f4);
    padding: 10px 15px;
    color: #f2f2f2;
}
#wrapper-content {
	margin-left: 5%;

}